*{
  margin: 0;
  padding: 0;
}

.drop{
  width:300px;
  height:300px;
  background: skyblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}

.visible{
  opacity:1 !important;
  visibility:visible !important
}

.handle{
  position: relative;
  top: 1px;
  display: inline-block;
  width: 18px;
  height: 11px;
  opacity: .25;
  margin-right: 20px;
  cursor: row-resize;
  background: -webkit-linear-gradient(top,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
  background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
}

.field {
  text-transform: uppercase;
font-weight: bold;
text-align: center;
padding: 11px;
margin-bottom: 15px;
color: darkcyan;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.field_name {
  margin-top: 13px;
  text-transform: capitalize;
}

.Repetable-Fields{
  /* background: ghostwhite; */
  padding: 20px;
}

.span {
  position: absolute;
  right: 27px;
  font-size: 20px;
  cursor: pointer;
}

.span.edit {
  right: 55px;
}

.span i {
  color : grey
}
.add{
  margin-right: 60px;
}
/* .editor-wrapper{
  height:300px !important;
  overflow-y: scroll
} */
.jodit_statusbar{
  display: none !important
}
/* .jodit_wysiwyg {
  height: 300px !important;
} */

.suggestions-list {
  margin: 0;
  padding: 0;
  height: 72px;
  overflow-y: scroll;
}

.suggestions-list li {
  list-style: none;
}

.react-datepicker-wrapper {
  width: 100%;
}
.form-group .react-datepicker-popper {
  z-index: 99966;
}

/* RichtextEditor */
.form-group .sun-editor button {
  color: #404048;
}

/* Color Picker */
.color{
  width: 36px;
  height: 14px;
  borderRadius: 2px;
  /* background: `rgba(${ this.state.color.r }, ${ this.state.color.g }, ${ this.state.color.b }, ${ this.state.color.a })`, */
}
.swatch{
  padding: 5px;
  background: #fff;
  borderRadius: 1px;
  boxShadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}
.popover{
  position: absolute;
  zIndex: 2;
}
.cover{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.list-group-item {
  margin-bottom: 15px;
}

.repeatable_fields_wrapper {
 margin-top: 20px;
}

.repeatable{
  background: ghostwhite;
}

.box {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    outline: currentcolor none medium;
    /* text-align: center; */
    padding: 18px 24px;
    font-size: 0.875rem;
    border-radius: 0.25em;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 6.3px 12.5px -2.5px, rgba(0, 0, 0, 0.05) 0px 3.8px 7.5px -3.7px;
    border: 1px solid rgb(201, 208, 216);
    background-color: transparent;
    margin-bottom:20px
}

.removeImageIcon {
  font-size: 25px;
  position: absolute;
  top: -22px;
  right: 32px;
}

.form-group h4 {
  margin-bottom: 22px;
}

.form-group.box .jodit_workplace{
  border:none !important
}

.SECTION .form-group.box .jodit_workplace{
  border: 1px solid #ddd !important;
}

.inputFields .form-control {
  border: none;
  background: rgba(0, 0, 0, 0.03);
  outline: none;
  box-shadow: none
}

.inputFields.flexColumn {
  display: flex;
  flex-direction: column;
}

.btn-large {

    font-size: 15px;
    padding: 0 28px;
    text-decoration: none;
color: #fff;
background-color: #26a69a;
text-align: center;
letter-spacing: .5px;
transition: background-color .2s ease-out;
cursor: pointer;
border: none;
border-radius: 2px;
display: inline-block;
text-transform: uppercase;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
padding: 11px 28px;
}

.delete{
  background:#f44336
}

.modal_menu{
  background: #26a69a;
margin-top: 32px;
}

.modal_menu li {
  list-style: none;
  display: inline-block;
}


.modal_menu li a {
  color: white;
  padding: 12px 14px;
  display: inline-block;
}

.modal_menu li a.active{
  background: #10877c;
}

.modal_title{
  width: 800px;
  text-align: center;
  margin-bottom: 30px
}


/* Custom Switch */

.toggleWrapper{
	/* position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0); */
}
.toggleWrapper input{
	position: absolute;
	left: -99em;
}
.toggle{
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 120px;
	height: 50px;
  /* background: #d21626; */
  background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before, .toggle:after{
	position: absolute;
	line-height: 50px;
	font-size: 14px;
	z-index: 2;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before{
	content: "OFF";
	left: 20px;
	color: #D21626;
}
.toggle:after{
	content: "ON";
	right: 20px;
	color: #fff;
}
.toggle__handler{
	display: inline-block;
	position: relative;
	z-index: 1;
	background: #fff;
	width: 65px;
	height: 44px;
	border-radius: 3px;
	top: 3px;
	left: 3px;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
input:checked + .toggle{
	background: #66b317;
}
input:checked + .toggle:before{
	color: #fff;
}
input:checked + .toggle:after{
	color: #66b317;
}
input:checked + .toggle .toggle__handler{
	width: 54px;
	-webkit-transform: translateX(60px);
	transform: translateX(60px);
	border-color: #fff;
}

.flex_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.flex_wrapper .form-group{
  flex: 1
}


.inputFields .form-group label {
  text-transform: capitalize;
  font-weight: bold
}

.highlight{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.requirements{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;

}
.char_requirements span{
  margin-right: 13px;
}
.char_requirements span:last-child {
  margin-right: 0;
}
.error{
  color:red;
  font-weight: bold
}